:root{
  --dot-color: #c4c4c4;
  --marked-dot-color: #636363;
  --progress: 0%;
  --progress-fade: 0%;
}
*{
  margin:0 auto;
}
.progress-bar-dot{
  border-radius: 100%;
  position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  background-color: var(--dot-color);
}
.progress-bar-dot-marked{
  background-color: var(--marked-dot-color) !important;
}
.square:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square{
  position: relative;
  width: 50%;
}
.col-2{padding: 0px !important;}
.dotted-progress-bar{
  margin: 0 auto;
}
.progress-bar-dot-mixed{
  background-image: linear-gradient(to right, #636363 0%, #636363 var(--progress), #c4c4c4 var(--progress-fade), #c4c4c4 100%) !important;
}
